{% extends "dash/base.html" %}
{% load static %}

{% block contents %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Pedidos</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
      <li class="breadcrumb-item active">Ordenes</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Ordenes de pedido
      </div>
      
      <div class="card-body">
        <form method="GET">
          <div class="mb-3">
            <label for="fecha_desde" class="form-label">Desde</label>
            <input type="date" class="form-control" id="fecha_desde" name="fecha_desde">
          </div>
          <div class="mb-3">
            <label for="fecha_hasta" class="form-label">Hasta</label>
            <input type="date" class="form-control" id="fecha_hasta" name="fecha_hasta">
          </div>
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        <hr />
        <table id="datatablesSimple" class="table">
          <thead>
            <tr>
              <th>Orden</th>
              <th>Fecha de Pedido</th>
              <th>Cliente</th>
              <th>Total</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Orden</th>
              <th>Fecha de Pedido</th>
              <th>Cliente</th>
              <th>Total</th>
              <th>Estado</th>
            </tr>
          </tfoot>
          <tbody>
            {% for o in ordenes %}
            <tr>
              <td>{{ o.id }}</td>
              <td>{{ o.fecha_creacion }}</td>
              <td>{{ o.cliente.nombre }} {{ o.cliente.apellidos }}</td>
              <td>{{ o.total }}</td>
              <td>{{ o.completada }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock contents %}
